

@keyframes upDown{
    0%{top:2%;}
    50%{top:1%;}
    100%{top:2%;}

}

@keyframes upDown2{
    0%{top:95%;}
    50%{top:96%;}
    100%{top:95%;}

}

@keyframes logoDown{
    0%{top:-50%;}
    100%{top:50%;}

}


@keyframes logoRight{
    0%{right:25px;}
    50%{right:30px;}
    100%{right:25px;}

}

@keyframes arrowAboutMe{
    0%{left:25px;}
    50%{left:30px;}
    100%{left:25px;}

}

@keyframes orangeLine{
    0%{left:-25%;}
    50%{left:-30%;}
    100%{left:-25%;}

}

@keyframes interference {
    0% {transform: scale(1)}
    50%{transform: scale(1.05)}
    100% {transform: scale(1)}
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }

  .titleSide{
      display: none;
      @media screen and (max-width: 640px) {
      color:#f78800;
      display: flex;
      justify-content: center;
      font-family: 'Staatliches', cursive;
      position: absolute;
      top:35px;
      font-size: 30px;
  }
}

  